@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
}

ul[class], ol[class] {
  padding: 0;
  list-style: none;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

input, button, textarea, select {
  font: inherit;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  color: #000;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #E9E9E9;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

.header-wrapper::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: -100%;
  right: 0;
  background-color: #f7f7f7;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  z-index: 0;
}

.header-logo {
  max-width: 84px;
  max-height: 64px;
  margin: 0 105px 0 0;
}

.header-logo__link {
  display: inline-block;
  text-decoration: none;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-nav ul li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-nav ul li a:hover {
  color: #b99b06;
}

.header-nav ul li:not(:last-child) {
  margin: 0 65px 0 0;
}

.header-info {
  min-width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-social__link {
  display: inline-block;
}

.header-social__link svg {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #000;
}

.header-social__link:hover svg {
  fill: #b99b06;
}

.header-social__link:not(:last-child) {
  margin: 0 17px 0 0;
}

.header-social__icon {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-phone {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-phone:hover {
  color: #b99b06;
}

.header-city {
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-city:hover {
  color: #b99b06;
}

.header_scroll {
  background-color: #fff;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;
}

.main {
  padding: 144px 0;
  background-color: #E9E9E9;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-title {
  font-weight: bold;
  font-size: 44px;
  line-height: 59px;
  margin: 0 0 20px 0;
  position: relative;
}

.main-subtitle {
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  margin: 0 0 85px 0;
  position: relative;
}

.main-button {
  min-width: 229px;
  height: 47px;
  padding: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  background-color: #FAE05E;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-button:hover {
  background-color: #d2b007;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-image {
  margin: 0 0 12px 0;
}

.main-description {
  position: relative;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}

.main-description span {
  position: relative;
}

.main-description::before {
  content: '';
  position: absolute;
  left: -19px;
  top: -18px;
  width: 76px;
  height: 76px;
  background-image: url("../img/main-description-puzzle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 120px;
          column-gap: 120px;
}

.video-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 550px;
  height: 370px;
  margin: -120px 0 0 0;
  background-image: url("../img/video-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.video-block a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.video-block a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.video-block a:hover::before {
  background-color: rgba(0, 0, 0, 0.3);
}

.video-block a span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 70px;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 0 0 0 6px;
}

.video-info {
  position: relative;
}

.video-info::before {
  content: '';
  position: absolute;
  background-image: url("../img/video-block__puzzle.svg");
  background-repeat: no-repeat;
  width: 115px;
  height: 115px;
  left: 85px;
  top: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.video-info::after {
  content: '';
  position: absolute;
  background-image: url("../img/video-block__arrow.png");
  background-repeat: no-repeat;
  width: 125px;
  height: 125px;
  left: -140px;
  top: 60px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.video-title {
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-indent: -8px;
}

.services {
  padding: 100px 0 70px 0;
}

.services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  margin: 0 0 58px 0;
}

.services-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 170px;
  grid-row-gap: 40px;
}

.services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 263px;
  min-height: 430px;
  color: #fff;
  cursor: pointer;
  background-color: transparent;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.services-item:nth-child(3) .services-item__info {
  padding: 23px 12px;
}

.services-item:nth-child(3) .services-item__icon {
  width: 50px;
  margin: 0 10px 0 0;
}

.services-item__info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  min-height: 383px;
  padding: 23px 16px 5px 21px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.services-item__info::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.services-item__bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.services-item__hidden-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.services-item__hidden-text p {
  padding: 70px 16px 5px 21px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.services-item__name {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.services-item__icon {
  width: 30px;
  margin: 0 10px 0 0;
}

.services-item__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
}

.services-item__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 57px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  background: #FAE05E;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services-item__button:hover {
  background: #d2b007;
}

.services-item--front, .services-item--back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 23px 16px 5px 21px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.services-item--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.services-item__info_active {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.services-item__info_active .services-item__hidden-text {
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
}

.price {
  position: relative;
  padding: 59px 0 66px 0;
  background-image: url("../img/price-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.price::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.83);
  -webkit-backdrop-filter: blur(17px);
          backdrop-filter: blur(17px);
}

.price-wrapper {
  position: relative;
}

.price-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #fff;
  text-align: center;
}

.price-item__wrapper {
  display: none;
}

.price-item ul {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.price-item ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  min-height: 53px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #FFFFFF;
  padding: 0 65px 0 46px;
}

.price-item ul li:nth-child(odd) {
  background: #2F2F2F;
}

.price-item__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 65px 0 46px;
  height: 65px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
}

.price-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 90px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FAE05E;
  cursor: pointer;
  border-bottom: 2px solid #2F2F2F;
}

.price-name::before, .price-name::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 2px;
  background-color: #FAE05E;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.price-name::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 1;
}

.price-item_visible ul {
  display: block;
}

.price-name_active::after {
  opacity: 0;
}

.clients {
  padding: 107px 0 114px 0;
}

.clients-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients-info {
  padding: 0 25px 0 0;
}

.clients-info__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-width: 290px;
  min-height: 47px;
  padding: 15px 30px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #FAE05E;
  color: #000;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.clients-info__button:hover {
  background-color: #d2b007;
}

.clients-title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  margin: 0 0 21px 0;
}

.clients-subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 30px 0;
}

.clients-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients-swiper {
  position: relative;
}

.clients-item {
  background: #E9E9E9;
  padding: 55px 67px 55px 82px;
}

.clients-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}

.clients-item__wrapper picture {
  margin: 0 25px 0 0;
}

.clients-item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 100%;
}

.clients-item__title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 30px 0;
}

.clients-item__message {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.clients-button-prev, .clients-button-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  width: 33px;
  height: 33px;
  background-color: #fff;
  cursor: pointer;
  z-index: 1;
}

.clients-button-prev svg, .clients-button-next svg {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  fill: black;
}

.clients-button-prev:hover svg, .clients-button-next:hover svg {
  fill: #d2b007;
}

.clients-button-prev {
  right: 33px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.clients-button-next {
  right: 0;
}

.swiper {
  width: 652px;
}

.form {
  position: relative;
}

.form-bg {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.74);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.form-bg__layer {
  position: absolute;
  width: 63%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/form-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.form-wrapper {
  position: relative;
  color: #fff;
}

.block-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0 120px 0;
}

.block-image {
  margin: 0 60px 0 -100px;
}

.block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.block__info form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  margin: 0 0 35px 0;
}

.block-title--modified {
  color: #fae05e;
}

.block-item {
  width: 100%;
}

.block-item__user, .block-item__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 1px solid #FFFBFB;
}

.block-item__user img, .block-item__phone img {
  width: 17px;
  height: 17px;
}

.block-item__user {
  margin: 0 0 20px 0;
}

.block-item__phone {
  margin: 0 0 30px 0;
}

.block-input {
  width: 100%;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  color: #fff;
  outline: none;
}

.block-input::-webkit-input-placeholder {
  color: #949494;
}

.block-input:-ms-input-placeholder {
  color: #949494;
}

.block-input::-ms-input-placeholder {
  color: #949494;
}

.block-input::placeholder {
  color: #949494;
}

.block-input img {
  width: 16px;
  height: 16px;
}

.block-button {
  width: 208px;
  min-height: 47px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  background-color: #fae05e;
  padding: 15px 30px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.block-button:hover {
  background-color: #d2b007;
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 730px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 16px;
  }
}
/*# sourceMappingURL=main.css.map */