@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
}

ul[class], ol[class] {
  padding: 0;
  list-style: none;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

input, button, textarea, select {
  font: inherit;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  color: #000;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
}

.header {
  background-color: #E9E9E9;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
}

.header-logo {
  max-width: 84px;
  max-height: 64px;
  margin: 0 105px 0 0;
}

.header-logo__link {
  display: inline-block;
  text-decoration: none;
}

.header-nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-nav ul li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-nav ul li a:hover {
  color: #b99b06;
}

.header-nav ul li:not(:last-child) {
  margin: 0 65px 0 0;
}

.header-info {
  min-width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-social__link {
  display: inline-block;
}

.header-social__link:not(:last-child) {
  margin: 0 17px 0 0;
}

.header-social__icon {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #000;
}

.header-social__icon:hover {
  fill: #b99b06;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header-phone {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-phone:hover {
  color: #b99b06;
}

.header-city {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-city:hover {
  color: #b99b06;
}

.main {
  padding: 60px 0;
  background-color: #E9E9E9;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-info {
  position: relative;
}

.main-info::before {
  content: '';
  position: absolute;
  background-image: url("../img/main-puzzle.svg");
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  left: 25px;
  top: 100px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  margin: 0 0 20px 0;
  position: relative;
}

.main-subtitle {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  margin: 0 0 85px 0;
  position: relative;
}

.main-button {
  min-width: 257px;
  height: 68px;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  background-color: #FAE05E;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-button:hover {
  background-color: #d2b007;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-image {
  margin: 0 0 12px 0;
}

.main-description {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.video-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 550px;
  height: 370px;
  margin: -120px 0 0 0;
  background: rgba(255, 99, 71, 0.5);
}

.video-block a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 70px;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 0 0 0 6px;
}

.video-info {
  position: relative;
  padding: 0 0 130px 0;
}

.video-info::before {
  content: '';
  position: absolute;
  background-image: url("../img/video-block__puzzle.svg");
  background-repeat: no-repeat;
  width: 115px;
  height: 115px;
  left: 85px;
  top: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.video-info::after {
  content: '';
  position: absolute;
  background-image: url("../img/video-block__arrow.png");
  background-repeat: no-repeat;
  width: 125px;
  height: 125px;
  left: -150px;
  top: 60px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.video-title {
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-indent: -8px;
}

.services {
  padding: 100px 0 70px 0;
}

.services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  margin: 0 0 58px 0;
}

.services-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 294px;
  min-height: 440px;
  color: #fff;
  cursor: pointer;
}

.services-item:not(:last-child) {
  margin: 0 129px 0 0;
}

.services-item:hover .services-item__hidden-text {
  top: 0;
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
}

.services-item__info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  min-height: 383px;
  padding: 20px 22px;
  overflow: hidden;
}

.services-item__info::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.services-item__bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.services-item__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.services-item__hidden-text {
  position: absolute;
  top: -30%;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.services-item__hidden-text p {
  padding: 80px 23px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.services-item__name {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.services-item__icon {
  width: 30px;
  margin: 0 30px 0 0;
}

.services-item__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.services-item__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 57px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background: #FAE05E;
  border: none;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services-item__button:hover {
  background: #d2b007;
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 730px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 16px;
  }
}
/*# sourceMappingURL=main.css.map */