@import "fonts"

*, *::before, *::after
	box-sizing: border-box
	outline: none !important

ul[class], ol[class]
	padding: 0
	list-style: none

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd
	margin: 0

a:not([class])
	text-decoration-skip-ink: auto

input, button, textarea, select
	font: inherit

html, body
	height: 100%

h1, h2, h3, h4, h5, h6, p
	margin: 0

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: normal
	font-family: "Montserrat", sans-serif
	color: #000

.img
	display: block
	max-width: 100%
	height: auto

.container
	width: 1140px
	max-width: 100%
	margin: 0 auto

// Header ///////////////////////////////////////////////////////////////////////////////////////////////////

.header
	background-color: #E9E9E9
	&-wrapper
		display: flex
		align-items: center
		padding: 18px 0
	&-logo
		max-width: 84px
		max-height: 64px
		margin: 0 105px 0 0
		&__link
			display: inline-block
			text-decoration: none
	&-nav
		flex-grow: 1
		ul
			display: flex
			align-items: center
			margin: 0
			padding: 0
			list-style: none
			li
				a
					text-decoration: none
					font-size: 16px
					line-height: 20px
					font-weight: bold
					color: #000
					transition: all 0.3s ease
					&:hover
						color: darken(#FAE05E, 30%)
				&:not(:last-child)
					margin: 0 65px 0 0

	&-info
		min-width: 270px
		display: flex
		align-items: center
		justify-content: space-between
	&-social
		&__link
			display: inline-block
			&:not(:last-child)
				margin: 0 17px 0 0
		&__icon
			transition: all 0.3s ease
			fill: #000
			&:hover
				fill: darken(#FAE05E, 30%)

	&-contacts
		display: flex
		flex-direction: column
		align-items: flex-start

	&-phone
		font-weight: bold
		font-size: 16px
		line-height: 20px
		text-decoration: none
		color: inherit
		transition: all 0.3s ease
		&:hover
			color: darken(#FAE05E, 30%)
	&-city
		font-weight: normal
		font-size: 12px
		line-height: 15px
		text-decoration: none
		color: inherit
		transition: all 0.3s ease
		&:hover
			color: darken(#FAE05E, 30%)

// Section main ///////////////////////////////////////////////////////////////////////////////////////////////////

.main
	padding: 60px 0
	background-color: #E9E9E9
	&-wrapper
		display: flex
		align-items: flex-start
		justify-content: space-between
	&-info
		position: relative
		&::before
			content: ''
			position: absolute
			background-image: url('../img/main-puzzle.svg')
			background-repeat: no-repeat
			width: 100px
			height: 100px
			left: 25px
			top: 100px
			transform: translateY(-50%)
	&-title
		font-weight: bold
		font-size: 48px
		line-height: 59px
		margin: 0 0 20px 0
		position: relative
	&-subtitle
		font-weight: bold
		font-size: 30px
		line-height: 37px
		margin: 0 0 85px 0
		position: relative

	&-button
		min-width: 257px
		height: 68px
		padding: 0
		font-weight: bold
		font-size: 20px
		line-height: 24px
		background-color: #FAE05E
		border: none
		cursor: pointer
		transition: all 0.3s ease
		&:hover
			background-color: darken(#FAE05E, 25%)

	&-content
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
	&-image
		margin: 0 0 12px 0
	&-description
		font-weight: normal
		font-size: 20px
		line-height: 24px

// Section video ///////////////////////////////////////////////////////////////////////////////////////////////////

.video

	&-wrapper
		display: flex
		align-items: flex-end
		justify-content: space-between

	&-block
		display: flex
		align-items: center
		justify-content: center
		width: 550px
		height: 370px
		margin: -120px 0 0 0
		background: rgba(tomato, 0.5)
		a
			display: flex
			align-items: center
			justify-content: center
			width: 70px
			height: 70px
			border: 2px solid #fff
			border-radius: 50%
			padding: 0 0 0 6px

	&-info
		position: relative
		padding: 0 0 130px 0
		&::before
			content: ''
			position: absolute
			background-image: url('../img/video-block__puzzle.svg')
			background-repeat: no-repeat
			width: 115px
			height: 115px
			left: 85px
			top: 30px
			transform: translateY(-50%)
		&::after
			content: ''
			position: absolute
			background-image: url('../img/video-block__arrow.png')
			background-repeat: no-repeat
			width: 125px
			height: 125px
			left: -150px
			top: 60px
			transform: translateY(-50%)
	&-title
		position: relative
		font-style: normal
		font-weight: bold
		font-size: 24px
		line-height: 29px
		text-indent: -8px

// services ///////////////////////////////////////////////////////////////////////////////////////////////////

.services
	padding: 100px 0 70px 0
	&-wrapper
		display: flex
		flex-direction: column
		align-items: center

	&-title
		font-weight: bold
		font-size: 36px
		line-height: 44px
		margin: 0 0 58px 0
	&-content
		display: flex
		align-items: flex-start
		justify-content: flex-start
		flex-wrap: wrap
	&-item
		display: flex
		flex-direction: column
		width: 294px
		min-height: 440px
		color: #fff
		cursor: pointer
		&:not(:last-child)
			margin: 0 129px 0 0
		&:hover	&__hidden-text
			top: 0
			opacity: 1
			filter: blur(0)
		&__info
			position: relative
			display: flex
			align-items: flex-start
			justify-content: flex-start
			width: 100%
			min-height: 383px
			padding: 20px 22px
			overflow: hidden
			&::before
				content: ''
				position: absolute
				width: 100%
				height: 100px
				top: 0
				left: 0
				right: 0
				background: rgba(0, 0, 0, 0.7)
				filter: blur(10px)
		&__bg
			position: absolute
			left: 0
			top: 0
			right: 0
			bottom: 0
			z-index: -1
			width: 100%
			height: 100%
			object-fit: cover
			object-position: top

		&__hidden-text
			position: absolute
			top: -30%
			left: 0
			right: 0
			width: 100%
			height: 100%
			background-color: rgba(0, 0, 0, 0.4)
			transition: all 0.4s ease-in-out
			opacity: 0
			filter: blur(10px)
			p
				padding: 80px 23px
				font-weight: normal
				font-size: 14px
				line-height: 17px
			// &:hover
			// 	top: 0
			// 	opacity: 1

		&__name
			position: relative
			display: flex
			align-items: center
			justify-content: flex-start
			width: 100%

		&__icon
			width: 30px
			margin: 0 20px 0 0
		&__title
			font-weight: bold
			font-size: 24px
			line-height: 29px
		&__button
			display: flex
			align-items: center
			justify-content: center
			width: 100%
			min-height: 57px
			font-weight: 500
			font-size: 20px
			line-height: 24px
			background: #FAE05E
			border: none
			text-decoration: none
			color: #000
			transition: all 0.3s ease
			&:hover
				background: darken(#FAE05E, 25%)

// price ///////////////////////////////////////////////////////////////////////////////////////////////////

.price
	position: relative
	padding: 59px 0 66px 0
	// &-bg
	// 	position: absolute
	// 	width: 100%
	// 	height: 100%
	// 	left: 0
	// 	top: 0
	// 	right: 0
	// 	bottom: 0
	background-image: url('../img/price-bg.webp')
	background-repeat: no-repeat
	background-size: cover
	background-position: top
	&::before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		left: 0
		top: 0
		right: 0
		bottom: 0
		background-color: rgba(0, 0, 0, 0.83)
		backdrop-filter: blur(17px)
	&-wrapper
		position: relative

	&-title
		font-weight: bold
		font-size: 36px
		line-height: 44px
		color: #fff
		text-align: center
	&-list

	&-item
		ul
			display: none
			margin: 0
			padding: 0
			list-style: none
			transition: all 0.4s linear

			li
				display: flex
				align-items: center
				justify-content: space-between
				width: 100%
				min-height: 53px
				font-size: 14px
				font-weight: 500
				line-height: 17px
				color: #FFFFFF
				padding: 0 65px 0 46px
				&:nth-child(odd)
					background: #2F2F2F
		&__table
			display: none
			// display: flex
			align-items: center
			justify-content: space-between
			padding: 0 65px 0 46px
			height: 65px
			font-weight: 500
			font-size: 14px
			line-height: 17px
			color: #C4C4C4
	&-name
		display: flex
		align-items: center
		position: relative
		width: 100%
		height: 90px
		font-weight: 500
		font-size: 24px
		line-height: 29px
		color: #FAE05E
		cursor: pointer
		border-bottom: 2px solid #2F2F2F
		&::before, &::after
			content: ''
			position: absolute
			top: 50%
			right: 0
			transform: translateY(-50%)
			width: 24px
			height: 2px
			background-color: #FAE05E
			transition: all 0.2s ease
		&::after
			transform: rotate(90deg)
			opacity: 1

.price
	&-item_visible
		ul
			display: block
		.price-item__table
			display: flex
.price
	&-name_active
		&::after
			opacity: 0

// media ///////////////////////////////////////////////////////////////////////////////////////////////////

@import "media"
